<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <title>About the Developer Team</title>
    <link type="text/css" rel="stylesheet" href="/main.css" />
    <script type="text/javascript">
        var currentDate = new Date();
        var gradDate = new Date(2019, 05, 14);
    </script>
  </head>
  <body>
  <div id="header">
    <h1>Online Power Flow Assessment Tool</h1>
    <p>Capstone Design Project</p>
    <p>&copy 2018 - 2019 Darian Brandolino, Adriano Mazzucco & Jonathan Psaila
    </p>
  </div>
    <div id="options">
      <table>
        <tr>
          <td><a class="header-link" href="/">Home</a></td>
          <td><a class="header-link" href="/manual">Manual Input</a></td>
          <td><a class="header-link" href="/info">Technical Info</a></td>
          <td><a class="header-link" href="/about">About</a></td>
        </tr>
      </table>
    </div>
    <div>
      <h1>About the Developer Team</h1>
      <h2>Gents, we are GRADUATING in:
        <font color="red">
        <script type="text/javascript">
          document.write("" + Math.round((gradDate - currentDate) / (1000 * 60 * 60 * 24)));
        </script>
        </font>
        days!!</h2>
      <table>
        <tr>
          <td>
            <img width="300px" src="JonnyBoy.jpg">
          </td>
          <td>
            <h1>Jonathan Psaila</h1>
            Ambitious and full of energy, Jonathan is always prepared to tackle the most challenging aspects of software development. Recently returning from a 13-month internship working on software projects in the telecommunications space, Jonathan has gained extensive knowledge of a wide array of scripting languages to further enhance his development skillset.
          </td>
        </tr>
        <tr>
          <td>
            <img width="300px" src="Darian.jpg">
          </td>
          <td>
            <h1>Darian Brandolino</h1>
            Always eager to take on complex projects, Darian is a skilled problem-solver that always strives for excellence in all aspects of his work. Recently returning from a 16-month internship working as an electrical engineering consultant on a wide range of commercial building projects, Darian provides a wealth of knowledge on the design, optimization and efficiency of electrical systems.
          </td>
        </tr>
        <tr>
          <td>
            <img width="300px" src="Adriano.jpg">
          </td>
          <td>
            <h1>Adriano Mazzucco</h1>
            As the newest member of the development team, Adriano combines a fresh approach to interface development with an extensive background in web-based software creation techniques.
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>