<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Online Power Flow Analysis Tool</title>
      <link rel="stylesheet" href="/main.css">
   </head>
   <body>
      <%= erb :'_header' %>
      <div class="container">
         <h1>Database Input Entry</h1>
         <form method="post" action="/check" enctype="multipart/form-data">
            <h2>1. Upload bus data spreadsheet (CSV format):</h2>
            <input type="file" name="busFile">
            <h2>2. Upload line data spreadsheet (CSV format):</h2>
            <input type="file" name="lineFile">
            <h2>3. Click Submit to begin processing:</h2>
            <input type="submit" value="Submit">
         </form>
      </div>
   </body>
</html>